{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% if total_posts != 0 %}
                {% for post in post_archieve %}
                    <div class="col">
                        
                        <div class="card mt-3 mb-3">
                            <ul class="list-group">
                                <li class="list-group-item badge text-bg-light">{{ post.user }}</li>
                                <li class="list-group-item">{{ post.dateTime }}</li>
                                <li class="list-group-item">{{ post.animal }}</li>
                                <img src="{{ post.image.url }}" class="card-img-top" alt="Image">
                                <li class="list-group-item">{{ post.location }}</li>
                                <li class="list-group-item">{{ post.adopted }}</li>
                                <li class="list-group-item">
                                <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Description
                                </button>
                                <br>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        {{ post.description }}
                                    </div>
                                  </div>
                                </li>
                            <li class="list-group-item"><a href="{% url 'edit' post_id=post.id %}" class="btn btn-outline-dark">Edit post</a></li>
                            </ul>
                            
                        </div>
                        
                    </div>
                {% endfor %}
            {% else %}
                    <div>
                        <h1>No posts yet!</h1>
                    </div>
            {% endif %}
        </div>
    </div>

{% endblock %}