{% extends 'base.html' %}

{% block content %}

    {%  for item in data %}
        <div class="card" style="width: 18rem;">
            
            <ul class="list-group">
                <li class="list-group-item badge text-bg-light">{{ item.user }}</li>
                <li class="list-group-item">{{ item.dateTime }}</li>
                <li class="list-group-item">{{ item.animal }}</li>
                <img src="{{ item.image.url }}" class="card-img-top" alt="Image">
                <li class="list-group-item">{{ item.location }}</li>
                <li class="list-group-item">{{ item.adopted }}</li>
                <li class="list-group-item">{{ item.description }}</li>
                {% if item.user != user %}
                    <li class="list-group-item"><a href="/chats/{{ item.user }}_chat/" class="btn btn-outline-dark">Chat</a></li>
                {% endif %}
            </ul>
            
        </div>
    {% endfor %}
{%  endblock %}