{% extends 'base.html' %}

{% load static %}

{% block content %}
 <div>
    <h1 id="receiver">{{ receiver }}</h1>
    <!-- <p hidden id="sender">{{ message.sender }}</p> -->
 </div>
    {% for message in old_messages %}
    <p>{{ message.sender }}</p>
        {% if message.sender == user %}
            <!-- msgs form self -->
            <div>
                <p>
                    {{message.message}}
                </p>
            </div>

        {% else %}
            <!-- to the left -->
            <div>
                <h1>
                    {{message.message}}
                </h1>
            </div>
        {% endif %}
    {% endfor %}

    <form method="post" id="chat-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="send_msg">Send</button>
    </form>

    <script>
        const receiver = "{{ receiver }}"
        const sender = "{{ sender }}"

        const id1 = "{{ id1 }}"
        const id2 = "{{ id2 }}"

        console.log(id1);
        console.log(id2);

        let ws_url = `ws://127.0.0.1:8000/ws/chats/${receiver}/`

        const socket = new WebSocket(ws_url);
        
        let form_text_data = document.getElementById("chat-form");
        let input = document.getElementById("id_message");

        document.querySelector("#chat-form").addEventListener('submit', function (e) {
            e.preventDefault();
            console.log(input.value);
        });

        socket.onopen = function hello(){
            console.log("connection successfull!");
            console.log("#chat-form");

        }

        socket.onmessage = function msg(event){
            var data = JSON.parse(event.data);
            console.log(data);
        }

        socket.onclose = function close(){
            console.log("connection closed");
        }

        socket.onerror = function err(){
            console.log("an unexpected error occured..")
        }


        document.querySelector("#send_msg").onclick = function(e){
            const messageInputDom = document.querySelector("#id_message");
            const messageInput = messageInputDom.value;

            socket.send(JSON.stringify({
                'message': messageInput,
                'sender': sender,
                'receiver': receiver,
            }));
            messageInputDom.value = '';
        };

    </script>
{% endblock %}