{% extends 'base.html' %}

{% block content %}
    {% for message in old_messages %}
    <p>{{ message.sender }}</p>
        {% if message.sender == user %}
            <!-- msgs form self -->
            <div>
                <p>
                    {{message.message}}
                </p>
            </div>

        {% else %}
            <!-- to the left -->
            <div>
                <h1>
                    {{message.message}}
                </h1>
            </div>
        {% endif %}
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
{% endblock %}