{% extends 'base.html' %}

{% load static %}

{% block content %}
 <div>
    <h1 id="receiver" style="text-align: center;">{{ receiver }}</h1>
    <!-- <p hidden id="sender">{{ message.sender }}</p> -->
 </div>
    <div id="chatroom">
        {% for message in old_messages %}
        {% if message.sender == user %}
            <!-- msgs form self -->
            <div>
                <h2 style="text-align: right;">
                    {{message.message}}
                </h2>
            </div>

        {% else %}
            <!-- to the left -->
            <div>
                <h2 style="text-align: left;" >
                    {{message.message}}
                </h2>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post" id="chat-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" id="send_msg" class="btn btn-outline-dark">Send</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        
        const receiver = "{{ receiver }}"
        const sender = "{{ sender }}"

        const id1 = "{{ id1 }}"
        const id2 = "{{ id2 }}"

        console.log(id1);
        console.log(id2);

        let ws_url = `ws://127.0.0.1:8000/ws/chats/${id1}_${id2}/`

        const socket = new WebSocket(ws_url);
        
        let form_text_data = document.getElementById("chat-form");
        let input = document.getElementById("id_message");

        document.querySelector("#chat-form").addEventListener('submit', function (e) {
            e.preventDefault();
            console.log(input.value);
        });

        socket.onopen = function hello(){
            console.log("connection successfull!");
            console.log("#chat-form");

        }

        socket.onmessage = function msg(event){
            var data = JSON.parse(event.data);
            console.log(data);
            const div = document.getElementById("chatroom");
            if (data.sender == "{{ user }}") {
                // shift to right
                console.log("user sent the message..");
                const para = document.createElement("h2");
                const node = document.createTextNode(data.message);

                para.appendChild(node);
                para.style.textAlign = "right";
                div.appendChild(para);

            } else {
                // shift to left
                console.log("nahh");
                const head = document.createElement("h2");
                const node = document.createTextNode(data.message);

                head.appendChild(node);
                head.style.textAlign = "left";
                div.appendChild(head);
            }
        }

        socket.onclose = function close(){
            console.log("connection closed");
        }

        socket.onerror = function err(){
            console.log("an unexpected error occured..")
        }


        document.querySelector("#send_msg").onclick = function(e){
            const messageInputDom = document.querySelector("#id_message");
            const messageInput = messageInputDom.value;

            socket.send(JSON.stringify({
                'message': messageInput,
                'sender': sender,
                'receiver': receiver,
            }));
            messageInputDom.value = '';
        };

        document.addEventListener('keydown', function(event) {
            if (event.keyCode === 13) {
                document.getElementById('send_msg').click();
                
            }
            });


    </script>

{% endblock %}