{% extends 'base.html' %}

{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <p>Your password cannot be too similar to your other personal information.</p>
            <p>Your password must contain at least 8 characters.</p>
            <p>Your password cannot be a commonly used password.</p>
            <p>Your password cannot be entirely numeric.</p>
        <button type="submit" class="btn btn-outline-dark">Register</button>
    
    </form>
</div>

<!-- {% if messages %}
    <div class="mgs-area">
        <div class="mgs-item">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        </div>
    </div>
{% endif %} -->
<!-- {% if messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %} -->


{% endblock %}