{% extends 'base.html' %}

{% block content %}
<h1>about</h1>
<p>Adopt_Me is a small initiative to help rescue animals. Animal shelters aren't present everywhere, this often makes it
    challenging for people who might not have the resources to care for an animal that they might have rescued. On the other hand,
     there are people who want to adopt a rescue but can't find one. Our goal is to connect these two.
</p>
<p>This site has assisted in the adoption process of {{ number }} animals.</p>
{% endblock %}