{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block navbar %}
{% if user.is_authenticated %}
  <div class="ml-auto">
    <li class="nav-item">
      <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
    </li>
  </div>
{% else %}
<div class="ml-auto">
<li class="nav-item">
  <a href="{% url 'login' %}" class="nav-link">Log In</a>
</li>
</div>
{% endif %}
{% endblock %}


{% block content %}
  <h1>Welcome!</h1>
  {% if user.is_authenticated %}
    <h1>{{ user.get_username }}</h1>
  {% endif %}
  <div>
    <p>
      about the website
    </p>
  </div>
  {% if not user.is_authenticated %}
    <br>
    <h2>Don't have an account?</h2>
    <a href="/accounts/registration/" class="btn btn-outline-dark">Register</a>
  {% endif %}
{% endblock %}

